$ds-white: #ffffff;
$ds-black: #000000;

$ds-gray-1: #f2f3f7;
$ds-gray-2: #e2e2ea;
$ds-gray-3: #c6cbd9;
$ds-gray-4: #9a9aaf;
$ds-gray-5: #7e7e8f;
$ds-gray-6: #656575;
$ds-gray-7: #535362;
$ds-gray-8: #2e2e3a;
$ds-gray-9: #262631;
$ds-gray-10: #16161e;

$ds-azure: #0062ff;
$ds-persian: #4807ea;
